#body{
background-color: #3498db;
}
.h1{
text-align: center;
text-decoration-color: white;
margin-top: 30px;
padding: 10px;

}
.box{
background-color: white;
padding: 30px;
margin: 0 auto 0 auto;
border-radius: 25px;
width: 40%;
}

.h1-box{
text-align: center;
}
#e-mail{
width: 100%;
cursor: pointer;
padding: 15px;
margin: 5px;
color: white;
}

.but{
text-align: center;}

.reset{
background-color: #3498db;
margin-top: 15px;
padding: 10px;
border-radius: 10px;
}
.plz{
text-align: center;
}
