#navbar{
  top: 0;
  left: 0;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
#nav-ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  top: 0;
  background-color:#384354 ;
  width: 100%;
}
li{
  padding: 15px;
  margin: auto;
  font-size: 20px;
  font-style: poppins;
  color: white;
text-decoration: none;
}

a{
color: white;
text-decoration: none;
}
a:hover{
font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
grid-template-row:
  grid-gap: 10px;
  background-color: #325d79;
  padding: 0px;
}

#img{
width: 258px;
height: 154px;
margin-top: 30px;
}

#img1{
width: 258px;
height: 154px;
}


.grid-container1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-row:
  grid-gap: 10px;
  background-color: #9bd7d1;
  padding: 0px;
  margin-left: 258px;
}

.item-1{
margin-left: 20px;
}

.item5{
color: #34495E;}

.item6{
margin-top: 15px;
}

input{
width: 40%;

  box-sizing: border-box;
}